<ion-tabs>
  <ion-tab-bar [slot]="tabsPlacement">
    <ion-tab-button tab="tab1">
      <ion-icon name="stats-chart-outline"></ion-icon>
      <ion-label>{{lang.localize(Localization.Charts)}}</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="tab2">
      <ion-icon name="earth-outline"></ion-icon>
      <ion-label>{{lang.localize(Localization.Regions)}}</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="tab3">
      <ion-icon name="cog-outline"></ion-icon>
      <ion-label>{{lang.localize(Localization.Settings)}}</ion-label>
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>
