<!--
<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      {{lang.localize(Localization.Quarantened)}}
    </ion-title>
  </ion-toolbar>
</ion-header>
-->

<ion-content [fullscreen]="true">
  <div
    padding
    *ngIf="isLoading; else notLoading"
    style="width: 100%; height: 100%; display: flex; justify-content: center; align-items: center;"
  >
    <ion-spinner name="dots"></ion-spinner>
  </div>
  <ng-template #notLoading>
    <ion-card>
      <ion-card-content
        style="display: flex; justify-content: space-between; align-items: center;"
      >
        <h3>
          {{lang.localize(Localization.DataSource)}}
        </h3>
        <p style="flex-grow: 1;"></p>
        <h3>
          <a href="https://apify.com/petrpatek/covid-cz" target="_blank"
            >covid19cz.cz</a
          >
        </h3>
      </ion-card-content>
    </ion-card>
    <ion-card>
      <ion-card-content
        style="display: flex; justify-content: space-between; align-items: center;"
      >
        <h3>
          {{lang.localize(Localization.LastUpdate)}} {{date}}
        </h3>
        <p style="flex-grow: 1;"></p>
        <ion-button (click)="updateData()">
          <ion-icon name="refresh-outline"></ion-icon>
        </ion-button>
      </ion-card-content>
    </ion-card>
    <ion-header collapse="condense">
      <ion-toolbar>
        <ion-title size="large">
          {{lang.localize(Localization.Regions)}}
        </ion-title>
      </ion-toolbar>
    </ion-header>
    <ion-grid>
      <ion-row>
        <ion-col
          *ngFor="let region of regions; index as i; first as isFirst"
          size="12"
          size-sm="6"
          size-md="4"
          size-lg="3"
        >
          <ion-card>
            <ion-card-header>
              <ion-card-title>
                {{region.name}}
              </ion-card-title>
            </ion-card-header>
            <ion-card-content>
              <ion-grid>
                <ion-row *ngIf="region.infected > -1">
                  <ion-col>
                    {{lang.localize(Localization.Infected)}}
                  </ion-col>
                  <ion-col>
                    {{region.infected}}
                  </ion-col>
                </ion-row>
                <ion-row *ngIf="region.quarantined > -1">
                  <ion-col>
                    {{lang.localize(Localization.Quarantened)}}
                  </ion-col>
                  <ion-col>
                    {{region.quarantined}}
                  </ion-col>
                </ion-row>
              </ion-grid>
            </ion-card-content>
          </ion-card>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ng-template>
</ion-content>
