<!--
<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      {{languageService.localize(Localization.Charts)}}
    </ion-title>
  </ion-toolbar>
</ion-header>
-->

<ion-content [fullscreen]="true">
    <ion-header collapse="condense">
        <ion-toolbar>
            <ion-title size="large">
                {{languageService.localize(Localization.Charts)}}
            </ion-title>
        </ion-toolbar>
    </ion-header>
    <div
        padding
        *ngIf="isLoading; else notLoading"
        style="
            width: 100%;
            height: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
        "
    >
        <ion-spinner name="dots"></ion-spinner>
    </div>
    <ng-template #notLoading>
        <ion-grid>
            <ion-row>
                <ion-col>
                    <ion-card>
                        <ion-card-content
                            style="
                                display: flex;
                                justify-content: space-between;
                                align-items: center;
                            "
                        >
                            <h3>
                                {{languageService.localize(Localization.DataSource)}}
                            </h3>
                            <p style="flex-grow: 1;"></p>
                            <h3>
                                <a
                                    href="https://apify.com/petrpatek/covid-cz"
                                    target="_blank"
                                    >covid19cz.cz</a
                                >
                            </h3>
                        </ion-card-content>
                    </ion-card>
                </ion-col>
            </ion-row>
            <ion-row>
                <ion-col>
                    <ion-card>
                        <ion-card-content
                            style="
                                display: flex;
                                justify-content: space-between;
                                align-items: center;
                            "
                        >
                            <h3>
                                {{languageService.localize(Localization.LastUpdate)}}
                                {{date}}
                            </h3>
                            <p style="flex-grow: 1;"></p>
                            <ion-button (click)="updateData()">
                                <ion-icon name="refresh-outline"></ion-icon>
                            </ion-button>
                        </ion-card-content>
                    </ion-card>
                </ion-col>
            </ion-row>
            <ion-row>
                <ion-col>
                    <ion-card>
                        <ion-card-header>
                            <ion-card-title>
                                {{languageService.localize(Localization.Statistics)}}
                            </ion-card-title>
                        </ion-card-header>
                        <ion-card-content>
                            <ion-grid class="ion-text-center">
                                <ion-row>
                                    <ion-col
                                        size-lg="3"
                                        size-md="6"
                                        size-xs="12"
                                    >
                                        {{languageService.localize(Localization.Infected)}}
                                        <h1 style="color: #ff6347;">
                                            {{infected}}
                                        </h1>
                                    </ion-col>
                                    <ion-col
                                        size-lg="3"
                                        size-md="6"
                                        size-xs="12"
                                    >
                                        {{languageService.localize(Localization.Tested)}}
                                        <h1 style="color: #40e0d0;">
                                            {{tested}}
                                        </h1>
                                    </ion-col>
                                    <ion-col
                                        size-lg="3"
                                        size-md="6"
                                        size-xs="12"
                                    >
                                        {{languageService.localize(Localization.Cured)}}
                                        <h1 style="color: #008080;">
                                            {{recovered}}
                                        </h1>
                                    </ion-col>
                                    <ion-col
                                        size-lg="3"
                                        size-md="6"
                                        size-xs="12"
                                    >
                                        {{languageService.localize(Localization.Deceased)}}
                                        <h1 style="color: #7c7c7c;">
                                            {{deceased}}
                                        </h1>
                                    </ion-col>
                                </ion-row>
                            </ion-grid>
                        </ion-card-content>
                    </ion-card>
                </ion-col>
            </ion-row>
            <ion-row>
                <ion-col>
                    <ion-card>
                        <ion-card-content
                            style="
                                display: flex;
                                justify-content: space-between;
                                align-items: center;
                            "
                        >
                            <h3>
                                {{languageService.localize(Localization.ShowDates)}}
                            </h3>
                            <p style="flex-grow: 1;"></p>
                            <ion-toggle
                                [(ngModel)]="showDates"
                                (ionChange)="showDatesChanged()"
                            ></ion-toggle>
                        </ion-card-content>
                    </ion-card>
                </ion-col>
            </ion-row>
            <ion-row>
                <ion-col size="12" size-xl="6">
                    <ion-card style="padding: 0.25rem;">
                        <ion-card-header>
                            <h2>
                                {{languageService.localize(Localization.Infected)}}
                            </h2>
                        </ion-card-header>
                        <ion-card-content>
                            <canvas
                                baseChart
                                [datasets]="infectedChart"
                                [labels]="infectedChartLabels"
                                [legend]="showLegend"
                                [options]="chartOptions"
                                [chartType]="chartType"
                                [colors]="infectedChartColors"
                            >
                            </canvas>
                        </ion-card-content>
                    </ion-card>
                </ion-col>
                <ion-col size="12" size-xl="6">
                    <ion-card style="padding: 0.25rem;">
                        <ion-card-header>
                            <h2>
                                {{languageService.localize(Localization.Tested)}}
                            </h2>
                        </ion-card-header>
                        <ion-card-content>
                            <canvas
                                baseChart
                                [datasets]="testedChart"
                                [labels]="infectedChartLabels"
                                [legend]="showLegend"
                                [options]="chartOptions"
                                [chartType]="chartType"
                                [colors]="testedChartColors"
                            >
                            </canvas>
                        </ion-card-content>
                    </ion-card>
                </ion-col>
                <ion-col size="12" size-xl="6">
                    <ion-card style="padding: 0.25rem;">
                        <ion-card-header>
                            <h2>
                                {{languageService.localize(Localization.InfectedPerDay)}}
                            </h2>
                        </ion-card-header>
                        <ion-card-content>
                            <canvas
                                baseChart
                                [datasets]="infectedPerDayChart"
                                [labels]="infectedPerDayLabels"
                                [options]="barOptions"
                                [legend]="showLegend"
                                [colors]="infectedPerDayChartColors"
                                chartType="bar"
                            >
                            </canvas>
                        </ion-card-content>
                    </ion-card>
                </ion-col>
                <ion-col size="12" size-xl="6"
                    ><ion-card style="padding: 0.25rem;">
                        <ion-card-header>
                            <h2>
                                {{languageService.localize(Localization.MenByAge)}}
                            </h2>
                        </ion-card-header>
                        <ion-card-content>
                            <canvas
                                baseChart
                                [datasets]="infectedByAgeMenChart"
                                [labels]="infectedByAgeMenLabels"
                                [options]="pieOptions"
                                [legend]="showPieLegends"
                                [colors]="pieChartColors"
                                chartType="doughnut"
                            >
                            </canvas>
                        </ion-card-content> </ion-card
                ></ion-col>
                <ion-col size="12" size-xl="6"
                    ><ion-card style="padding: 0.25rem;">
                        <ion-card-header>
                            <h2>
                                {{languageService.localize(Localization.WomenByAge)}}
                            </h2>
                        </ion-card-header>
                        <ion-card-content>
                            <canvas
                                baseChart
                                [datasets]="infectedByAgeWomenChart"
                                [labels]="infectedByAgeWomenLabels"
                                [options]="pieOptions"
                                [legend]="showPieLegends"
                                [colors]="pieChartColors"
                                chartType="doughnut"
                            >
                            </canvas>
                        </ion-card-content> </ion-card
                ></ion-col>
                <ion-col size="12" size-xl="6">
                    <ion-card style="padding: 0.25rem;">
                        <ion-card-header>
                            <h2>
                                {{languageService.localize(Localization.InfectedToTested)}}
                            </h2>
                        </ion-card-header>
                        <ion-card-content>
                            <canvas
                                baseChart
                                [datasets]="infectedTestedPieChart"
                                [labels]="infectedTestedLabels"
                                [options]="pieOptions"
                                [legend]="showPieLegends"
                                [colors]="infectedTestedChartColors"
                                chartType="doughnut"
                            >
                            </canvas>
                        </ion-card-content>
                    </ion-card>
                </ion-col>
            </ion-row>
        </ion-grid>
    </ng-template>
</ion-content>
