<ion-header [translucent]="true">
    <ion-toolbar>
        <ion-title>
            {{lang.localize(Localization.Settings)}}
        </ion-title>
    </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
    <ion-header collapse="condense">
        <ion-toolbar>
            <ion-title size="large">
                {{lang.localize(Localization.Settings)}}
            </ion-title>
        </ion-toolbar>
    </ion-header>

    <ion-list>
        <ion-item>
            <ion-label>
                {{lang.localize(Localization.Language)}}
            </ion-label>
            <ion-select [(value)]="language" (ionChange)="updateLang($event)">
                <ion-select-option [value]="Language.Czech">
                    Česky
                </ion-select-option>
                <ion-select-option [value]="Language.English">
                    English
                </ion-select-option>
            </ion-select>
        </ion-item>
        <ion-item
            style="
                display: flex;
                justify-content: space-between;
                align-items: center;
            "
        >
            <span>{{lang.localize(Localization.MadeBy)}} Jakub Tomeš</span>
            <p style="flex-grow: 1;"></p>
            <a href="www.tomes.dev" target="_blank">www.tomes.dev</a>
        </ion-item>
        <ion-item-group>
            <ion-label style="margin-left: 0.5rem;"
                >{{lang.localize(Localization.Feedback)}}</ion-label
            >
            <ng-container *ngIf="!sendClicked; else notSentTemplate">
                <ion-item>
                    <ion-input
                        [ngStyle]="{'color': authorWrong ? 'red': 'inherit'}"
                        type="text"
                        [(ngModel)]="author"
                        [placeholder]="lang.localize(Localization.Name)"
                    >
                    </ion-input>
                </ion-item>
                <ion-item>
                    <ion-input
                        [ngStyle]="{'color': emailWrong ? 'red': 'inherit'}"
                        type="email"
                        [(ngModel)]="email"
                        [placeholder]="lang.localize(Localization.Email)"
                    >
                    </ion-input>
                </ion-item>
                <ion-item>
                    <ion-textarea
                        rows="6"
                        [(ngModel)]="feedback"
                        [placeholder]="lang.localize(Localization.Feedback)"
                        [ngStyle]="{'color': feedbackWrong ? 'red': 'inherit'}"
                    ></ion-textarea>
                </ion-item>
                <span
                    [ngStyle]="{'color': wrong ? 'red': 'inherit'}"
                    style="
                        display: flex;
                        flex-direction: row;
                        justify-content: center;
                        align-items: center;
                    "
                >
                    <span>{{question1}}+{{question2}}=</span
                    ><ion-input
                        placeholder="9"
                        [(ngModel)]="answer"
                        type="number"
                        style="max-width: 3rem; margin-right: 1rem;"
                    ></ion-input>
                    <ion-button (click)="send()"
                        >{{lang.localize(Localization.Send)}}</ion-button
                    >
                </span>
            </ng-container>

            <ng-template
                style="
                    display: flex;
                    flex-direction: row;
                    justify-content: center;
                    align-items: center;
                "
                #notSentTemplate
            >
                <h2>{{feedbackMessage}}</h2>
            </ng-template>
        </ion-item-group>
    </ion-list>
</ion-content>
